<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">

      <card title="Agregar Categoría">
        <form (ngSubmit)="onSaveCategory(f)" #f="ngForm">
          <div class="row">
            <div class="col-md-9 ">
              <div class="upload-btn-wrapper">
                <input id="file" class="img-upload-btn" type="file" (change)="readUrl($event)" ng2FileSelect [uploader]="uploader" accept="image/*"
                />
                <button class="btn btn-block btn-warning cursor-pointer btn-upload-cover" type="button">
                  <i class="fa fa-upload"></i>&nbsp;&nbsp; Seleccione una imagen
                </button>
              </div>
              <md-input-container class="md-icon-left">
                <md-icon>assignment</md-icon>
                <input mdInput placeholder="Código" name="codigo" id="codigo" uppercase [(ngModel)]="categories.codigo" required>
              </md-input-container>
              <md-input-container class="md-icon-left">
                <md-icon>style</md-icon>
                <input mdInput placeholder="Nombre" name="title" id="title" uppercase [(ngModel)]="categories.title" required>
              </md-input-container>
              <md-input-container class="mb-0">
                <textarea mdInput placeholder="Descripción" rows="3" name="shortDescription" uppercase id="shortDescription" [(ngModel)]="categories.shortDescription"
                  required></textarea>
              </md-input-container>
            </div>
            <div class="col-md-3">
              <span class="imageFile">
                <a>
                  <img class="media-object img-thumbnail custom-img" [src]="url" alt="Image" />
                </a>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button md-raised-button class="btnCancel" color="warn" type="button" (click)="cancel()">
                Cancelar
              </button>
            </div>
            <div class="col-md-6">
              <button md-raised-button class="saveButton" color="accent" type="submit" [disabled]="!(imageUploaded && f.valid )"> Guardar Categoría
              </button>
            </div>
          </div>

        </form>
        <div class="custom-progress-bar" *ngIf="progress">
          <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
        </div>
      </card>

    </div>
  </div>
</div>
