.none {
  display: none;
}

.saveButton {
  float: right;
  margin-top: 10px;
}

.btnCancel {
  float: left;
  margin-top: 10px;
}

.custom-img {
  height: 10em;
  width: 10em;
  border-radius: 9px;
}
