.custom-progress-bar {
  margin-top: 17px;
}

.none {
  display: none;
}

.imageFile {
  margin-left: 315px;

}

.saveButton {
  float: right;
  margin-top: 10px;
}

.btnCancel {
  float: left;
  margin-top: 10px;
}
