.lable-size {
  margin-left: 12px;
  opacity: 0.8;
}

.size-check-box {
  margin-left: 15px;
}


.none {
  display: none;
}

.saveButton {
  float: right;
  margin-top: 10px;
}

.cancelButton {
  margin-top: 10px;
}

.input-error-material{
 color:  #f44336;
}
