<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>


<button md-raised-button color="accent" class="addButton" (click)="addRol()">Agregar Rol</button>
<!-- <pre> {{rolData | json}}</pre> -->

<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Cargando...</h5>
</div>

<div class="custom-spin" *ngIf="arrayLength == 0 ">
    <img class="custom-img" src="{{url}}">
    <h5 class="nodata-text"> No se han ingresado categorías ... </h5>
</div>

<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> No se ha podido contactar con el servidor... !!! </h5>
</div>

<div class="" *ngIf="rolData.length>0">
    <table class="table table-striped" [mfData]="rolData" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr class="text-center">
            <th class="text-center">
                <mfDefaultSorter by="orden">Orden</mfDefaultSorter>
            </th>
            <th class="text-center">
                <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
            </th>
            <th class="text-center">
                <mfDefaultSorter by="porcentaje">Porcentaje</mfDefaultSorter>
            </th>
            <th class="text-center">
                <mfDefaultSorter by="edit">Editar</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let item of mf.data; let i = index"> <!--  -->
          <td class="text-center">{{item.orden}}</td>
            <td class="text-center">{{item.nombre}}</td> <!-- -->
            <td class="text-center">{{item.porcentaje}}</td>
            <td class="text-center">
                <button md-mini-fab color="primary" (click)="onEditRol(item._id)">
                    <md-icon>create</md-icon>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
