<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Cargando...</h5>
</div>

<div class="custom-spin" *ngIf="arrayLength == 0 ">
    <img class="custom-img" src="{{url}}">
    <h5 class="nodata-text"> No existe contenido ... </h5>
</div>

<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> No se ha logrado cargar la data !!! </h5>
</div>

<div class="" *ngIf="userData.length>0">
    <table class="table table-striped" datatable [dtOptions]="dtOptions">
        <thead>
        <tr class="text-center">
            <th class="text-center">
                Nombre
            </th>
            <th class="text-center">
                Identificación
            </th>
            <th class="text-center">
              Email
            </th>
            <!--th class="text-center">
                <mfDefaultSorter by="email">View
            </th-->

        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let item of userData"> <!--  -->
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.identificacion}}</td>
            <td class="text-center">{{item.email}}</td>

            <!--td class="text-center">
                <button md-mini-fab color="primary" (click)="onViewUser(item._id)">
                    <md-icon>search</md-icon>
                </button>
            </td-->


        </tr>
        </tbody>
    </table>
</div>
