<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<div class="col-md-10">
  <card title="Ver Tienda">
    <div class="row">
      <div class="col-md-4 cat-thumb">
        <img class="custom-img" [src]="url">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col">
            <label>Código :</label>
            {{tienda.codigo}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label> Ruc :</label>
            {{tienda.ruc}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label> Nombre :</label>
            {{tienda.title}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label> Telefono :</label>
            {{tienda.telefono}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label> Celular :</label>
            {{tienda.celular}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Email :</label>
            {{tienda.email}}
          </div>
        </div>
      </div>
    </div>
  </card>
</div>
