.cat-thumb {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 2px;
}

.gender-img {
  height: 50px;
  width: 55px;
  margin-left: -6px;
}

.gender {
  display: inline-block;
}

.gender-img-girl {
  height: 43px;
  width: 50px;
  margin-left: -6px;
  padding-bottom: 5px;
}
