.upload-btn-wrapper {
    position: relative;
}

.img-upload-btn {
    position: absolute;
    padding: 0;
    opacity: 0;
    width: 50%;
    top: 4px;
    height: 34px;
    margin-bottom: 10px;
}

.btn-upload-cover {
    width: 50%;
    margin-top: 12px;
    font-size: 13px;
    height: 2.5em;
    padding-top: 6px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.image-remove {
    border-radius: 17px;
    margin-top: -48px;
    opacity: 0.8;
    margin-left: 9px;
    margin-bottom: 2px;
}

.small-thumb {
    height: 6em;
    width: 6em;
    margin-left: 8px;
    border-radius: 5px;
    margin-top: 61px;

}

.margin-row {
    margin-bottom: 15px;
}

.select-width {
    width: 94%;
    margin-top: 13px;
}

.file_input_div {
    margin: auto;
    width: 250px;
    height: 40px;
}

.file_input {
    float: left;
}

.custom-img {
    height: 10em;
    width: 10em;
    border-radius: 9px;
}

#file_input_text_div {
    width: 200px;
    margin-top: -8px;
    margin-left: 5px;
}

.none {
    display: none;
}

.imageFile {
    margin-left: 315px;

}

.saveButton {
    float: right;
    margin-top: 10px;
}

.coustomCheck {
    margin-top: 5px;
}

.cancelButton {
    margin-top: 10px;
}
