.check-box {
  margin-left: 6px;
  .mat-checkbox-label {
    margin-left: 10px;
  }
}

.saveButton {
  float: right;
  margin-top: 10px;
  margin-right: 51px;
}

.btnCancel {
  float: left;
  margin-top: 10px;
  margin-left: 61px
}