<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="col-md-8 offset-md-2">
    <br><br>
    <card title="Update Offer">
        <form (ngSubmit)="onUpdateOffer(f)" #f="ngForm">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <md-input-container class="md-icon-left">
                        <md-icon>assignment_late</md-icon>
                        <input mdInput placeholder="Title" name="title" id="title"
                               [(ngModel)]="offers.title">
                    </md-input-container>

                    <md-input-container class="md-icon-left">
                        <md-icon>inbox</md-icon>
                        <input mdInput placeholder="Percentage" type="number" name="percentage" id="percentage"
                               [(ngModel)]="offers.offerPercentage">
                    </md-input-container>
                    <div class="check-box">
                        <md-checkbox name="offerAvilable" [(ngModel)]="offers.offerAvilable">
                            Available
                        </md-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button md-raised-button class="btnCancel" color="warn" type="button" (click)="cancel()"> Cancel
                    </button>
                </div>
                <div class="col-md-6">
                    <button md-raised-button class="saveButton" color="accent" type="submit"> Update Offer
                    </button>
                </div>
            </div>

        </form>

    </card>
</div>